* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: #333;
    -webkit-tap-highlight-color: transparent;
}


#game {
    margin: 0 auto;
}

.btnContainer {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#finish {
    width: 40vw;
    height: 50px;
    font-size: 30px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);


    /* Дальше идет не моё, но красивое :) */
    position: relative;
    padding-left: 15px;  /* Выравнивание визуально по центру */
    border-radius: 7px;
    border: 1px solid var(--tg-theme-button-color);

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 142, 236, 0.115);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    
}

#finish::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

@keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
}

.hidden {
    display: none;
}
